#secureLoginButton,
.secureLoginButton {
  list-style-image: url("login.png");
}

#secureLoginButton.secureLoginButtonDisabled,
.secureLoginButtonDisabled {
  list-style-image: url("login-disabled.png");
}
toolbar[iconsize="small"] #secureLoginButton,
toolbar[iconsize="small"] .secureLoginButton,
.secureLoginIcon {
  list-style-image: url("login-small.png");
}
#secureLoginButton[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #secureLoginButton {
  list-style-image: url("login.png");
}

toolbar[iconsize="small"] #secureLoginButton.secureLoginButtonDisabled,
toolbar[iconsize="small"] .secureLoginButtonDisabled,
.secureLoginIconDisabled {
  list-style-image: url("login-small-disabled.png");
}
#secureLoginButton.secureLoginButtonDisabled[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #secureLoginButton.secureLoginButtonDisabled {
  list-style-image: url("login-disabled.png");
}

/** Retina Display **/
@media (min-resolution: 2dppx) {
  toolbar[iconsize="small"] #secureLoginButton,
  toolbar[iconsize="small"] .secureLoginButton,
  .secureLoginIcon {
    list-style-image: url("login.png");
  }
  toolbar[iconsize="small"] #secureLoginButton.secureLoginButtonDisabled,
  toolbar[iconsize="small"] .secureLoginButtonDisabled,
  .secureLoginIconDisabled {
    list-style-image: url("login-disabled.png");
  }
  #secureLoginButton image {
    width: 16px;
  }
}

.secureLoginSettingsIcon {
  list-style-image: url("settings-small.png");
}
.secureLoginHelpIcon {
  list-style-image: url("help-small.png");
}
.secureLoginUserIcon {
  list-style-image: url("user-small.png");
}

statusbarpanel.secureLoginIcon {
  cursor: pointer;
}

#secureLoginTooltipTitle {
  margin-bottom: 10px;
}
#secureLoginTooltipTitleLabel {
  font-weight: bold;  
}
#secureLoginTooltipKeyboardShortcut {
  font-family:monospace;
}
#secureLoginTooltipUrls {
}
.secureLoginTooltipUrlHeader {
  font-style: italic;
  margin-bottom: 5px;
}
.secureLoginTooltipUrlRow {
}
.secureLoginTooltipUrl {
}
.secureLoginTooltipUrlCount {
}
